mixin link(link, tooltip)
  a(href= link target="_blank" data-toggle="tooltip" data-placement="top" title= tooltip)
    i.fa.fa-external-link.externalLink(aria-hidden="true")

mixin exp(cat, level, link, other, addClass)
  span.expandable(onclick='expandCat("'+cat+'")')= link+(other||'')
  //- span= other
  div(id=cat, class='contentLevel'+level+' '+addClass)
    block

mixin pic(src)
  div
    img(src= 'img/'+src)

mixin _li(n)
  .liWrapper
    .numberCircle1= n
    .liText
      block

mixin list
  b
    block
    | <br />

mixin paper(n, auth, name, link, more)
  p
    span= n+'. '
    span= auth+' '
    a.paperLink(href= link target="_blank")= name+' '
    span= more
